* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header>section {
    background-image: url(./img/banner.webp);
    width: 1349px;
    height: 600px;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 28px 74px;
}

header>section>div>nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0 10px; 
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 200px;
    padding-right: 10px;
    gap: 5px;
}

.letter {
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    color: white;
    font-weight: 200;
}

section>div>h1>span {
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.sub {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    color:white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 145px 0;
    line-height: 1.4;
} 

.paragraph {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
}

.change {
    justify-content:space-between;
    display: flex;
    align-items: center;
}

.letter1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: black;
    margin: 20px;
    font-size: 32px;
    display: flex;
    flex-direction: row;
}

main {
    margin-left: 100px;
}

.blog1 {
    width: 700px;
    height: 500px;
}

.blog2 {
    width: 700px;
    height: 500px;
}

.blog3 {
    width: 700px;
    height: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4 auto;
}

.itemgrid1 {
    grid-column: 1 / 2 ;
    max-width: 100%;
    max-height: 100%;
    gap: 10px;
}





